@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$lightGray: #babfbb;

$font_title: 'Shrikhand', sans serif;
$font_text: 'Roboto', sans serif;


body {
    margin: 0px;
}


.logo {
    font-family: $font_title ;
    font-size: xx-large;
    padding-top: 0.70em;
    padding-bottom: 0.70em;
}

.footer_logo {
    font-family: $font_title;
    font-size: large;
    margin-left: 40px;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    font-family: $font_text;
}

footer {
    color: white;
    background-color: #282828;
    padding: 20px;
    font-family: "Roboto", sans serif;

}



ul {
    list-style: none;
}

li {
    a {
        text-decoration: none;
        color: white;
    }
}

li i {
    margin-right: 10px;
}



img {
    object-fit: cover;
}



.fa-heart {
    font-size: x-large;
}

.heart--red {
   
    opacity: 0%;
    font-size: x-large;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart-wrap {
    display: grid;


}

.heart-wrap:active .heart--red,
.heart-wrap:hover .heart--red {
    animation: fadeOut 1s 1 forwards reverse;
}

.heart-wrap i {
    grid-row: 1;
    grid-column: 1;
}


@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 100%;
    }

    100% {
        visibility: hidden;
        opacity: 0%;
    }
}