@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$lightGray: #babfbb;

header {
    display: flex;
    flex-direction: column;
    width: -moz-available;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Shrikhand';
}






body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    font-family: 'Roboto';
}

footer {
    color: white;
    background-color: #282828;
    padding: 20px;

}

footer .logo {
    margin-left: 40px;
}

ul {
    list-style: none;
}

.loader {
    position: fixed;
    z-index: 2;
    font-size: 6em;
    color: grey;
    top: 40%;
    left: 40%;
    animation: spin ease-in 1s infinite, fadeOut ease-out 3s 1 forwards;
}

.heart--red {
    color: red;
    opacity: 0%;
}

.heart-wrap {
    display: grid;
}

.heart-wrap:active .heart--red{
    animation: fadeOut 1s 1 forwards reverse;
}



.heart-wrap i {
    grid-row: 1;
    grid-column: 1;
}




@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 100%;
    }

    100% {
        visibility: hidden;
        opacity: 0%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}