@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$lightGray: #babfbb;

header {
    display: flex;
    flex-direction: column;
    width: -moz-available;
    justify-content: center;
    align-items: center;333
}

.logo {
    font-family: 'Shrikhand';
}


#logo {
    width: 150px;
    justify-content: center;
    padding: 30px;

}



body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    font-family: 'Roboto';
}

footer{
    color: white;
    background-color:#282828;
    padding: 20px;

}
footer .logo{
    margin-left: 40px;
}
ul{
    list-style: none;
}